WP_API_URL=https://admin.rec.co.mz/wp-json/wp/v2
WP_APP_USER=api-user
WP_APP_PASSWORD=xxxx xxxx xxxx xxxx xxxx xxxx
RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL=contacto@contacto.rec.co.mz
VITE_SITE_URL=https://rec.co.mz
